<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="main w-full h-screen bg-zinc-900 p-10">
        <a class="mb-8 inline-block text-yellow-500" href="/readuser">Check Users</a>
        <h1 class="text-white mb-2 size-bold">test Upload a file</h1>
        <form class="flex gap-3" action="/upload" method="post" enctype="multipart/form-data"><!--enctype should be set in order for working of multer and it is set to multipart which means that a file will be uploaded in chunks or packets of data rather than one single large file -->
              <input class="w-1/4 p-2 outline-none rounded-md bg-zinc-700 text-white" type="file" name="image">
              <input class=" p-2 outline-none rounded-md bg-blue-700 text-white" type="submit" value="Upload file">
        </form>
    </div>
    <script src="/javascripts/script.js"></script>
</body>
</html>